<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="css/lib/bootstrap.min.css"/>
<link rel="stylesheet" href="css/app/app.css"/>

<script src="js/lib/angular.min.js"></script>
<script src="js/lib/ui-bootstrap-tpls-2.5.0.min.js"></script>
<script src="js/app/app.js"></script>
<script src="js/app/UserController.js"></script>
<script src="js/app/UserService.js"></script>

<head>
    <meta charset="UTF-8">
    <title>Angular + Spring Boot</title>
</head>
<body ng-app="angspr">
<hr/>

<div class="container" ng-controller="UserController">
    <p>
        {{ ping() }}
    </p>
</div>

</body>
</html>